<h2>Por País</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="buscar()">
      <input
        type="text"
        name="termino"
        class="form-control"
        [(ngModel)]="termino"
        placeholder="Buscar Pais..."
      />
    </form>
  </div>
</div>

<hr />
<div *ngIf="Error" class="alert alert-danger">
    No se encontro nade con el termino {{termino}}
</div>

<div *ngIf="!Error" class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Poblacion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>1</td>
            <td>bandera</td>
            <td>nombre</td>
            <td>123132161</td>
            <td>
                <a href="/src/app/pais/pages/por-pais/por-pais.component.html">Ver</a>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
